<!-- include header template -->
<% include partials/header %>

<h1>This is the home page!</h1>

<img src="https://www.purina.com.au/-/media/Project/Purina/Main/Breeds/Dog/Mobile/Dog_Siberian-Husky_Mobile.jpg?h=300&la=en&w=375&hash=30212DE60B583F7DE97ED3F8F1D54912">

<!-- include footer template -->
<% include partials/footer %>